# Base16 {{scheme-name}} - amfora color config
# {{scheme-author}}

[theme]
bg = "#{{base00-hex}}"
fg = "#{{base05-hex}}"

bottombar_bg = "#{{base01-hex}}"

amfora_link = "#{{base0B-hex}}"
foreign_link = "#{{base03-hex}}"
link_number = "#{{base03-hex}}"

hdg_1 = "#{{base09-hex}}"
hdg_2 = "#{{base0A-hex}}"
hdg_3 = "#{{base0D-hex}}"
